# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3
print('complete!')
# loading data from python.db database
conn = sqlite3.connect('python.db')

# import 'school' and 'student' tables into pandas dataframe
school_data = pd.read_sql_query("SELECT * FROM school", conn)
student_data = pd.read_sql_query("SELECT * FROM student", conn)

conn.close()

complete!

In [20]:
# join the two tables into a single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [34]:
# Create a District Summary

In [36]:
# Total number of schools

total_school_rows = school_data.shape[0]
print(f'Total number of rows in school_data: {total_school_rows}')

Total number of rows in school_data: 15

In [71]:
# Total number of students

total_students = student_data.shape[0]
print(f'Total number of rows in student_data: {total_students}')

Total number of rows in student_data: 39170

In [44]:
# Total budget

total_budget = school_data['budget'].sum()
print(f'Total budget: {total_budget}')

Total budget: 24649428

In [54]:
# Average math score

avg_math_score = student_data['math_score'].mean()

In [55]:
# Average reading score

avg_reading_score = student_data['reading_score'].mean()

In [56]:
# Overall average score

avg_overall_score = (avg_math_score + avg_reading_score) / 2
print(f'Overall average score: {avg_overall_score}')

Overall average score: 80.43160582078121

In [64]:
# Percentage of passing math (70 or greater)

passing_math = student_data[student_data['math_score']>= 70]
passing_math_count = passing_math.shape[0]
total_students = student_data.shape[0]
passing_math_perc = (passing_math_count / total_students) * 100
print(f'Percentage of students passing math: {passing_math_perc:.2f}%')

Percentage of students passing math: 74.98%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [146]:
#  Sort and display the top five schools in overall passing rate

overall_passing_rate.head(5)

school_name
Bailey High School      0.301447
Cabrera High School     0.807320
Figueroa High School    0.508647
Ford High School        0.547645
Griffin High School     1.021798
dtype: float64

In [69]:
# Calculate total school budget

total_budget = school_data['budget'].sum()
print(f'Total school budget: {total_budget}')

Total school budget: 24649428

In [73]:
# Calculate per student budget

total_budget = school_data['budget'].sum()
total_students = school_data['size'].sum()
per_student_budget = total_budget / total_students
print(f'Budget per student: {per_student_budget}')

Budget per student: 629.2935409752362

In [74]:
# Cacluate the avg math and reading score

avg_overall_score = (avg_math_score + avg_reading_score) / 2
print(f'Overall average score: {avg_overall_score}')

Overall average score: 80.43160582078121

#### Find the passing rate for math and reading (above 70 points)

In [89]:
# Find the total counts of math result

total_math_count = student_data.shape[0]

# Find the counts for math result in each school that pass 70 or higher

passing_math = student_data[student_data['math_score']>= 70]
passing_math_count = passing_math.groupby('school_name').size()

# Calculate the math passing rate

passing_math_count = passing_math.shape[0]
passing_math_rate = (passing_math_count / total_students) * 100
print(f'Percentage of students passing math: {passing_math_rate:.2f}%')

Percentage of students passing math: 74.98%

In [91]:
# Find the total counts of read result

total_reading_count = student_data.shape[0]

# Find the counts for read result in each school that pass 70 or higher

passing_reading = student_data[student_data['reading_score'] >= 70]
passing_reading_count = passing_reading.groupby('school_name').size()

# Calculate the read passing rate

passing_reading_count = passing_reading.shape[0]
passing_reading_rate = (passing_reading_count / total_students) * 100
print(f'Percentage of students passing reading: {passing_reading_rate:.2f}%')

Percentage of students passing reading: 85.81%

In [111]:
# Calculate the overall passing rate (average of the math and reading passing rate)
total_students = student_data.shape[0]
passing_math = student_data[student_data['math_score'] >= 70]
passing_reading = student_data[student_data['reading_score'] >= 70]
math_passing_rate = (passing_math.shape[0] / total_students) * 100
reading_passing_rate = (passing_reading.shape[0] / total_students) * 100

# Calculate overall passing rate as the average of math and reading passing rates
overall_passing_rate = (math_passing_rate + reading_passing_rate) / 2
print(f'Overall Passing Rate: {overall_passing_rate:.2f}%')

Overall Passing Rate: 80.39%

In [147]:
overall_passing_rate.tail(5)

school_name
Bailey High School      0.301447
Cabrera High School     0.807320
Figueroa High School    0.508647
Ford High School        0.547645
Griffin High School     1.021798
dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [161]:
#  Sort and display the worst five schools in overall passing rate
total_students = student_data.groupby('school_name').size()

passing_math = student_data[student_data['math_score'] >= 70].groupby('school_name').size()
passing_reading = student_data[student_data['reading_score'] >= 70].groupby('school_name').size()

math_passing_rate = (passing_math.shape[0] / total_students) * 100
reading_passing_rate = (passing_reading.shape[0] / total_students) * 100


# Calculate overall passing rate as the average of math and reading passing rates
overall_passing_rate = (math_passing_rate + reading_passing_rate) / 2
overall_passing_df = pd.DataFrame({'Math Passing Rate': math_passing_rate,
    'Reading Passing Rate': reading_passing_rate,
    'Overall Passing Rate': overall_passing_rate
})
worst_five_schools = overall_passing_df.sort_values(by='Overall Passing Rate').tail(5)
print(f'Overall Failing Rate: {overall_failing_rate.mean():.2f}%')

Overall Failing Rate: 0.87%

In [147]:
overall_passing_rate.tail(5)

school_name
Bailey High School      0.301447
Cabrera High School     0.807320
Figueroa High School    0.508647
Ford High School        0.547645
Griffin High School     1.021798
dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [121]:
# Create table that lists the average math score for each school of each grade level.

avg_math_scores = student_data.groupby(['school_name', 'grade'])['math_score'].mean().reset_index()
avg_math_scores_pivot = avg_math_scores.pivot(index='school_name', columns='grade', values='math_score')
avg_math_scores_pivot.reset_index(inplace=True)
print("Average Math Scores by School and Grade Level:")
print(avg_math_scores_pivot)

Average Math Scores by School and Grade Level:
grade            school_name       10th       11th       12th        9th
0         Bailey High School  76.996772  77.515588  76.492218  77.083676
1        Cabrera High School  83.154506  82.765560  83.277487  83.094697
2       Figueroa High School  76.539974  76.884344  77.151369  76.403037
3           Ford High School  77.672316  76.918058  76.179963  77.361345
4        Griffin High School  84.229064  83.842105  83.356164  82.044010
5      Hernandez High School  77.337408  77.136029  77.186567  77.438495
6         Holden High School  83.429825  85.000000  82.855422  83.787402
7          Huang High School  75.908735  76.446602  77.225641  77.027251
8        Johnson High School  76.691117  77.491653  76.863248  77.187857
9           Pena High School  83.372000  84.328125  84.121547  83.625455
10     Rodriguez High School  76.612500  76.395626  77.690748  76.859966
11       Shelton High School  82.917411  83.383495  83.778976  83.420755
12        Thomas High School  83.087886  83.498795  83.497041  83.590022
13        Wilson High School  83.724422  83.195326  83.035794  83.085578
14        Wright High School  84.010288  83.836782  83.644986  83.264706

In [125]:
# Calculate the average math score for 9th grade in each school

ninthgrade_data = student_data[student_data['grade'] == '9th']
avg_9thmath_scores = ninthgrade_data.groupby('school_name')['math_score'].mean().reset_index()
avg_9thmath_scores.columns = ['school_name', 'avg_9thmath_score']
print("Average Math Scores for 9th Grade by School:")
print(avg_9thmath_scores)

Average Math Scores for 9th Grade by School:
              school_name  avg_9thmath_score
0      Bailey High School          77.083676
1     Cabrera High School          83.094697
2    Figueroa High School          76.403037
3        Ford High School          77.361345
4     Griffin High School          82.044010
5   Hernandez High School          77.438495
6      Holden High School          83.787402
7       Huang High School          77.027251
8     Johnson High School          77.187857
9        Pena High School          83.625455
10  Rodriguez High School          76.859966
11    Shelton High School          83.420755
12     Thomas High School          83.590022
13     Wilson High School          83.085578
14     Wright High School          83.264706

In [126]:
# Calculate the average math score for 10th grade in each school

tenthgrade_data = student_data[student_data['grade'] == '10th']
avg_10thmath_scores = tenthgrade_data.groupby('school_name')['math_score'].mean().reset_index()
avg_10thmath_scores.columns = ['school_name', 'avg_10thmath_score']
print("Average Math Scores for 10th Grade by School:")
print(avg_10thmath_scores)

Average Math Scores for 10th Grade by School:
              school_name  avg_10thmath_score
0      Bailey High School           76.996772
1     Cabrera High School           83.154506
2    Figueroa High School           76.539974
3        Ford High School           77.672316
4     Griffin High School           84.229064
5   Hernandez High School           77.337408
6      Holden High School           83.429825
7       Huang High School           75.908735
8     Johnson High School           76.691117
9        Pena High School           83.372000
10  Rodriguez High School           76.612500
11    Shelton High School           82.917411
12     Thomas High School           83.087886
13     Wilson High School           83.724422
14     Wright High School           84.010288

In [127]:
# Calculate the average math score for 11th grade in each school

eleventhgrade_data = student_data[student_data['grade'] == '11th']
avg_11thmath_scores = eleventhgrade_data.groupby('school_name')['math_score'].mean().reset_index()
avg_11thmath_scores.columns = ['school_name', 'avg_11thmath_score']
print("Average Math Scores for 11th Grade by School:")
print(avg_11thmath_scores)

Average Math Scores for 11th Grade by School:
              school_name  avg_11thmath_score
0      Bailey High School           77.515588
1     Cabrera High School           82.765560
2    Figueroa High School           76.884344
3        Ford High School           76.918058
4     Griffin High School           83.842105
5   Hernandez High School           77.136029
6      Holden High School           85.000000
7       Huang High School           76.446602
8     Johnson High School           77.491653
9        Pena High School           84.328125
10  Rodriguez High School           76.395626
11    Shelton High School           83.383495
12     Thomas High School           83.498795
13     Wilson High School           83.195326
14     Wright High School           83.836782

In [134]:
# Calculate the average math score for 12th grade in each school

twelfthgrade_data = student_data[student_data['grade'] == '12th']
avg_12thmath_scores = twelfthgrade_data.groupby('school_name')['math_score'].mean().reset_index()
avg_12thmath_scores.columns = ['school_name', 'avg_12thmath_score']
print("Average Math Scores for 12th Grade by School:")
print(avg_12thmath_scores)

Average Math Scores for 12th Grade by School:
              school_name  avg_12thmath_score
0      Bailey High School           76.492218
1     Cabrera High School           83.277487
2    Figueroa High School           77.151369
3        Ford High School           76.179963
4     Griffin High School           83.356164
5   Hernandez High School           77.186567
6      Holden High School           82.855422
7       Huang High School           77.225641
8     Johnson High School           76.863248
9        Pena High School           84.121547
10  Rodriguez High School           77.690748
11    Shelton High School           83.778976
12     Thomas High School           83.497041
13     Wilson High School           83.035794
14     Wright High School           83.644986

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [129]:
# Create table that lists the average reading score for each school of each grade level.

avg_reading_scores = student_data.groupby(['school_name', 'grade'])['reading_score'].mean().reset_index()
avg_reading_scores_pivot = avg_reading_scores.pivot(index='school_name', columns='grade', values='reading_score')
avg_reading_scores_pivot.reset_index(inplace=True)
print("Average Reading Scores by School and Grade Level:")
print(avg_reading_scores_pivot)

Average Reading Scores by School and Grade Level:
grade            school_name       10th       11th       12th        9th
0         Bailey High School  80.907183  80.945643  80.912451  81.303155
1        Cabrera High School  84.253219  83.788382  84.287958  83.676136
2       Figueroa High School  81.408912  80.640339  81.384863  81.198598
3           Ford High School  81.262712  80.403642  80.662338  80.632653
4        Griffin High School  83.706897  84.288089  84.013699  83.369193
5      Hernandez High School  80.660147  81.396140  80.857143  80.866860
6         Holden High School  83.324561  83.815534  84.698795  83.677165
7          Huang High School  81.512386  81.417476  80.305983  81.290284
8        Johnson High School  80.773431  80.616027  81.227564  81.260714
9           Pena High School  83.612000  84.335938  84.591160  83.807273
10     Rodriguez High School  80.629808  80.864811  80.376426  80.993127
11       Shelton High School  83.441964  84.373786  82.781671  84.122642
12        Thomas High School  84.254157  83.585542  83.831361  83.728850
13        Wilson High School  84.021452  83.764608  84.317673  83.939778
14        Wright High School  83.812757  84.156322  84.073171  83.833333

In [130]:
# Calculate the average reading score for 9th grade in each school

ninthgrade_data = student_data[student_data['grade'] == '9th']
avg_9threading_scores = ninthgrade_data.groupby('school_name')['reading_score'].mean().reset_index()
avg_9threading_scores.columns = ['school_name', 'avg_9threading_score']
print("Average Reading Scores for 9th Grade by School:")
print(avg_9threading_scores)

Average Reading Scores for 9th Grade by School:
              school_name  avg_9threading_score
0      Bailey High School             81.303155
1     Cabrera High School             83.676136
2    Figueroa High School             81.198598
3        Ford High School             80.632653
4     Griffin High School             83.369193
5   Hernandez High School             80.866860
6      Holden High School             83.677165
7       Huang High School             81.290284
8     Johnson High School             81.260714
9        Pena High School             83.807273
10  Rodriguez High School             80.993127
11    Shelton High School             84.122642
12     Thomas High School             83.728850
13     Wilson High School             83.939778
14     Wright High School             83.833333

In [131]:
# Calculate the average reading score for 10th grade in each school

tenthgrade_data = student_data[student_data['grade'] == '10th']
avg_10threading_scores = tenthgrade_data.groupby('school_name')['reading_score'].mean().reset_index()
avg_10threading_scores.columns = ['school_name', 'avg_10threading_score']
print("Average Reading Scores for 10th Grade by School:")
print(avg_10threading_scores)

Average Reading Scores for 10th Grade by School:
              school_name  avg_10threading_score
0      Bailey High School              80.907183
1     Cabrera High School              84.253219
2    Figueroa High School              81.408912
3        Ford High School              81.262712
4     Griffin High School              83.706897
5   Hernandez High School              80.660147
6      Holden High School              83.324561
7       Huang High School              81.512386
8     Johnson High School              80.773431
9        Pena High School              83.612000
10  Rodriguez High School              80.629808
11    Shelton High School              83.441964
12     Thomas High School              84.254157
13     Wilson High School              84.021452
14     Wright High School              83.812757

In [132]:
# Calculate the average reading score for 11th grade in each school

eleventhgrade_data = student_data[student_data['grade'] == '11th']
avg_11threading_scores = eleventhgrade_data.groupby('school_name')['reading_score'].mean().reset_index()
avg_11threading_scores.columns = ['school_name', 'avg_11threading_score']
print("Average Reading Scores for 11th Grade by School:")
print(avg_11threading_scores)

Average Reading Scores for 11th Grade by School:
              school_name  avg_11threading_score
0      Bailey High School              80.945643
1     Cabrera High School              83.788382
2    Figueroa High School              80.640339
3        Ford High School              80.403642
4     Griffin High School              84.288089
5   Hernandez High School              81.396140
6      Holden High School              83.815534
7       Huang High School              81.417476
8     Johnson High School              80.616027
9        Pena High School              84.335938
10  Rodriguez High School              80.864811
11    Shelton High School              84.373786
12     Thomas High School              83.585542
13     Wilson High School              83.764608
14     Wright High School              84.156322

In [143]:
# Calculate the average reading score for 12th grade in each school

twelfthgrade_data = student_data[student_data['grade'] == '12th']
avg_12threading_scores = twelfthgrade_data.groupby('school_name')['reading_score'].mean().reset_index()
avg_12threading_scores.columns = ['school_name', 'avg_12threading_score']
print("Average Reading Scores for 12th Grade by School:")
print(avg_12threading_scores)

Average Reading Scores for 12th Grade by School:
              school_name  avg_12threading_score
0      Bailey High School              80.912451
1     Cabrera High School              84.287958
2    Figueroa High School              81.384863
3        Ford High School              80.662338
4     Griffin High School              84.013699
5   Hernandez High School              80.857143
6      Holden High School              84.698795
7       Huang High School              80.305983
8     Johnson High School              81.227564
9        Pena High School              84.591160
10  Rodriguez High School              80.376426
11    Shelton High School              82.781671
12     Thomas High School              83.831361
13     Wilson High School              84.317673
14     Wright High School              84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [18]:
import pandas as pd
student_data = pd.read_csv('path_to_file.csv')
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

performance_summary = student_data.groupby('school_name').agg(
    avg_math_score = ('math_score', 'mean'),
    avg_reading_score = ('reading_score', 'mean'),
    passing_math = ('math_score', lambda x: (x > 70).mean() * 100),
    passing_reading = ('reading_score', lambda x: (x > 70).mean() * 100),
    overall_passing_rate = (passing_math + passing_reading) / 2)

performance_summary['overall_passing_rate'] = (performance_summary['passing_math'] + performance_summary['passing_reading']) / 2
performance_summary.reset_index(inplace=True)

print("School Performance by Spending Ranges:")
print(performance_summary)

FileNotFoundError: [Errno 2] No such file or directory: 'path_to_file.csv'

In [1]:
# Create a new column to show budget per student in each row
performance_summary = pd.DataFrame({
    'school_name': school_data(['Bailey High School', 'Cabrera High School', ...]),
    'total_budget': school_data(['budget'].values),
    'total_students': student_data['size'].values, })

performance_summary['per_student_budget'] = performance_summary['total_budget'] / performance_summary['total_students']

print("Updated DataFrame with Budget per Student:")
print(performance_summary.head())

NameError: name 'pd' is not defined

In [163]:
# Create a new column to define the spending ranges per student
student_data = pd.DataFrame({
    'school_name': ['School A', 'School B', 'School C', ...],
    'spending_per_student': [400, 600, 750, 850, 900, ...],
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Create a new column for spending categories
student_data['spending_category'] = pd.cut(student_data['spending_per_student'], bins=bins, labels=labels)

# Display the updated DataFrame
print("Updated DataFrame with Spending Categories:")
print(student_data)

SyntaxError: '{' was never closed (2583119826.py, line 2)

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate